// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #00CC00;
$value-color:       #fff;
 
$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.8);;
 
// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------
.widget-news {
 
  background-color: $background-color;
  vertical-align: baseline !important;
 
  .headline-container {
    display: none;
  }
 
  .description {
    font-size: 0.8em;
    color: $moreinfo-color;
  }
 
  .heading{
    color: black;
  }
 
}