.widget-citibike {
  background-image: url("/assets/bike.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 400px 400px;
  background-color: #000000;

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}

.citibike-status-active {
  background-color: #242877;
}

.citibike-status-unavailable {
   background-color: #999999;
}

.citibike-status-unknown {
   background-color: #999999;
}