// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #999;
$title-color:       #FFF;

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-googleplay { 

  background: $background-color url('../assets/googleplay_logo.png') no-repeat 50% 50%;

  .title {
    font-weight: bold;
    color: $title-color;
    opacity: .9
  }

  .googleplay-rating-container {
    div > div {
      font-size: 24px
    }
  }

  .googleplay-rating-value {
    font-size: 76px;
    #googleplay-rating-integer-value {
      font-weight: bold;
    }
  }

  .googleplay-voters-count {
    font-size: 1.5em;
    #googleplay-voters-count-value {
      font-weight: bold
    }
  }

}
