<h1 class="title" data-bind="title"></h1>
<div class="googleplay-rating-container">
  <div class="googleplay-rating-value" data-bind='googleplay'></div>
  <div class="googleplay-voters-count" data-bind='googleplay'></div>
</div>
