<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1}]')
});
</script>

<% content_for :title do %>Biz dashboard<% end %>

<div class="gridster">
  <ul>
<!--
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iosvisitors" data-view="Rickshawgraph" data-title="iOS" data-colors="#cb4834" data-stroke="true" data-stroke-colors="#cb4835"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="comvisitors" data-view="Rickshawgraph" data-title="Com" data-colors="#cb4834" data-stroke="true" data-stroke-colors="#cb4835"></div>
    </li>
      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="grailsvisitors" data-view="Rickshawgraph" data-title="Client" data-colors="#cb4834" data-stroke="true" data-stroke-colors="#cb4835"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="corpvisitors" data-view="Rickshawgraph" data-title="Corp" data-colors="#cb4834" data-stroke="true" data-stroke-colors="#cb4835"></div>
    </li>

    </li> 
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="evaluation" data-view="Number" data-title="Apploi Downloads" </div> 
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Apploi Sign Ups" ></div>
    </li>
-->
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
  <div data-id="jira" data-view="Number" data-title="Open Issues"></div>
</li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-view="Countdown" data-title="APPLOI WORLD TAKEOVER" data-end="20-Aug-2015 18:00:00"></div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-view="Countdown" data-title="1bn User Goal" data-end="10-Aug-2015 16:30:00"></div>
</li>
<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="newrelic-response" data-view="Newrelicresponse" data-title="Response time" ></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="newrelic-error" data-view="Newrelicerror" data-title="Error rate" ></div>

    </li>
      <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
    <div data-id="ews-availability-user1@example.com" data-view="Simplemon" data-title="Example User"></div>
  </li>
 <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="server_status" data-view="ServerStatus" data-title="Server Status"></div>
    </li>
<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
  <div data-id="query1" data-view="Number" data-title="My Open Items"></div> -->
</li>

    
  </ul>
</div>
