<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">

<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1}]')
});
</script>


<% content_for :title do %>News dashboard<% end %>

<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="weather" data-view="Weather"></div>
</li>
  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="citibike_490" data-view="Citibike"></div>
  </li>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="news" data-view="News"></div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="startup_quote"
       data-view="Remoteimage"
       data-title="Startup quote"
       style="padding:0;vertical-align:bottom;background:transparent;">
  </div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="startup_quote2"
       data-view="Remoteimage"
       data-title="Startup quote"
       style="padding:0;vertical-align:bottom;background:transparent;">
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="seattle-times" data-view="News" data-title="Seattle Times" data-interval="30"></div>
</li>
  </div>
</li>
 
  </ul>
</div>
</div>