<% content_for :title do %>Apploi Tech Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iosvisitors" data-view="Rickshawgraph" data-title="iOS" data-colors="#cb4834" data-stroke="true" data-stroke-colors="#cb4835"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="comvisitors" data-view="Rickshawgraph" data-title="Com" data-colors="#cb4834" data-stroke="true" data-stroke-colors="#cb4835"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="grailsvisitors" data-view="Rickshawgraph" data-title="Client" data-colors="#cb4834" data-stroke="true" data-stroke-colors="#cb4835"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="corpvisitors" data-view="Rickshawgraph" data-title="Corp" data-colors="#cb4834" data-stroke="true" data-stroke-colors="#cb4835"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="app_store_rating" data-view="Appstore" data-title="iOS Rating"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="2">
      <div data-id="startup_quote"
           data-view="Remoteimage"
           data-title="Startup quote"
           style="padding:0;vertical-align:top;background:transparent;">
      </div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="newrelic-response" data-view="Newrelicresponse" data-title="Response time" ></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="newrelic-error" data-view="Newrelicerror" data-title="Error rate" ></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="newrelic-rpm" data-view="Newrelicrpm" data-title="RPM" ></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="google_play_store_rating" data-view="Googleplay" data-title="Android Rating"></div>
    </li>
  </ul>
</div>
