<h1 class="title" data-bind="title"></h1>

<ul>
  <li class="check" data-foreach-check="checks" data-bind-data-state="check.state">
    <span class="checkName" data-bind="check.name"></span><span class="checkPing" data-bind="check.lastRepsonseTime"></span>
  </li>
</ul>